body {
    height: 100%;
    background-color: #161920;
    background-image: linear-gradient(#161920 0%, lightgrey 100%);
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightgray;
}

.raw-text-div {
    margin: auto;
    width: 55%;
    text-align: center;
    padding: 5px;
}

#steamer-table-row {
    color: lightgray;
    background-color: #213145;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#steamer-game-table {
    margin-left: auto;
    margin-right: auto;
}

#login-div {
    position: relative;
    padding: 16px;
    margin-top: auto;
    margin-left: auto;
}

label {
    padding: 12px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    position: relative;
}

