<!DOCTYPE html>
<html>
    <head>
        <title>Steamer is Warming up. . .</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='homepage.js') }} "></script>
    </head>

    <body>
        <div class="header">
            <a>Steamer</a> 
            <div class='header-right'>
                <a href="/settings">Settings</a>
            </div>
        </div>
        <div class="raw-text-div">
            <p>Welcome {{username}}!</p>
            <p>Missing an app? Click here and wait for the table to update.</p>
            <p>If this is your first time, it may take a bit.</p>
            <button id="steamer-populate-games" value="Hello world!">Populate Apps</button>
        </div>
        <table id="steamer-game-table">
            {% for app in apps: %}
            <tr id="steamer-table-row">
                <th>
                    <a href="/app/{{app[0]}}">
                        <img loading="lazy" src="https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/apps/{{app[0]}}/{{app[2]}}.jpg">
                    </a>
                    <th>{{app[1]}}</th>
                </th>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
