<!DOCTYPE html>
<html>
    <head>
        <title>Steamer is Warming up. . .</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
    </head>

    <body>
        <p> Hello world! </p>
        <form>
            <label for='download_path'>Download Path:</label>
            <input type='text' name='download_path' />
            <label for='target_os'>Target OS:</label>
            <input type='text' name='target_os' />
        </form>
    </body>

</html>
